<footer>
   <div class="footer-top">
      <div class="footer-logo">
         <img src="assets/image/footerbg.png" alt="">
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut</p>
      </div>
      <div class="footer-contacts">
         <div class="footer-contacts-left">
            <span class="footer-contacts-head">
            Our Contacts
            </span>
            <span class="footer-contacts-address">Your address will be here NY 123456 USA</span>
            <span class="footer-contacts-number">+000 123 456 789</span>
         </div>
         <div class="footer-contacts-right">
            <span class="footer-contacts-numbert">+000 123 456 789</span>
            <span class="footer-contacts-mail">your email@email.com</span>
            <span class="footer-contacts-website">www.website.com</span>
         </div>
      </div>
      <div class="footer-link">
         <span class="footer-link-head"> follow us</span>
         <div class="footer-social">
            <span class="footer-link-fb"><a class="footer-link-fb" href="https://www.facebook.com">
            </a>
            </span>
            <span class="footer-link-yt"><a class="footer-link-yt" href="https://www.youtube.com">
            </a>
            </span>
            <span class="footer-link-tw"><a class="footer-link-tw" href="https://www.twitter.com">
            </a>
            </span>
            <span class="footer-link-linkedin"><a class="footer-link-linkedin" href="https://www.linkedin.com">
            </a>
            </span>
         </div>
         <button class="btn-subscribe"> subscribe </button>
      </div>
   </div>
   <div class="footer-bottom">
      <div class="footer-copyright-left">
         <span>Copyright2017 Travel and Tourism.All Right Reserved</span>
      </div>
      <div class="footer-copyright-right">
         <span>Privacy Policy</span>
         <span>Terms of Use</span>
         <span>Contact Support</span>
      </div>
   </div>
</footer>
