@media (min-width: 480px) and (max-width: 1200px) {
.benefit-info[_ngcontent-c3] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-flow: wrap;
    /* flex-flow: wrap; */
    flex-direction: column;
}

.review-info[_ngcontent-c4] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: center;
    -ms-flex-flow: wrap;
    /* flex-flow: wrap; */
    flex-direction: column;
}

.review-info-block[_ngcontent-c4] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    /* justify-content: space-around; */
    /* width: 100%; */
}
footer[_ngcontent-c8] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    /* height: 50vh; */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    /* align-items: center; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-pack: distribute;
justify-content: space-around;
-webkit-box-align: center;
-ms-flex-align: center;
/* align-items: center; */
flex-direction: column;
/* height: 60%; */
}

.footer-logo[_ngcontent-c8] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    /* flex-direction: column; */
    -webkit-box-align: left;
    -ms-flex-align: left;
    align-items: left;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #5d5d5d;
    width: 100%;
}
.footer-contacts[_ngcontent-c8] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    /* justify-content: center; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    /* align-items: center; */
    flex-direction: column;
    /* margin-top: 15%; */
    justify-content: center;
  }
  .footer-contacts-left[_ngcontent-c8] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* width: 44%; */
}
.footer-bottom[_ngcontent-c8] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 92%;
    margin-top: 1%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    /* justify-content: space-between; */
    flex-direction: column;
}
.footer-copyright-left[_ngcontent-c8] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* width: 30%; */
    margin-bottom: 1%;
}
.footer-copyright-right[_ngcontent-c8] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    /* justify-content: center; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    /* align-items: center; */
    /* width: 20%; */
}
