<div class="review-block">
   <div class="review-block-capt">
      <span class="review-block-title"> What Our Clients Say</span>
      <p class="review-block-text">
         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
   </div>
   <div class="review-info">
      <div class="review-info-block">
         <div class="review-circle">
            <img src="/assets/image/user1.png" alt="">
         </div>
         <div class="review-descrpition">
            <span class="review-title">
                Lisa Evan
            </span>
            <p class="review-text">
               Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            </p>
         </div>
      </div>
      <div class="review-info-block">
         <div class="review-circle">
            <img src="/assets/image/user2.png" alt="">
         </div>
         <div class="review-descrpition">
            <span class="review-title">
                  ANGELINA BEN
            </span>
            <p class="review-text">
               Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            </p>
         </div>
      </div>
      <div class="review-info-block">
         <div class="review-circle">
            <img src="/assets/image/user3.png" alt="">
         </div>
         <div class="review-descrpition">
            <span class="review-title">
                  ETHAN DEAN
            </span>
            <p class="review-text">
               Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            </p>
         </div>
      </div>
   </div>
     <button class="btn-view-more"> view more </button>
</div>
