<div class="tour">
   <div class="tour-topic">
      <span class="tour-topic_text">Hot Tours</span>
      <span class="tour-topic_subtext">Check out top-rated tours</span>
   </div>
   <div class="country-info">
      <div class="country-info-block">
         <img src="/assets/image/italy.png" alt="">
         <div class="country-info-subblock">
            <span class="country-info-block-title">
            italy
            </span>
            <span class="country-info-block-price">
            1500$
            </span>
            <span class="country-info-block-text">
            Lorem ipsum dolor sit amet
            </span>
         </div>
      </div>
      <div class="country-info-block">
         <img src="/assets/image/thai.png" alt="">
         <div class="country-info-subblock">
            <span class="country-info-block-title">
            thailand
            </span>
            <span class="country-info-block-price">
            1500$
            </span>
            <span class="country-info-block-text">
            Lorem ipsum dolor sit amet
            </span>
         </div>
      </div>
      <div class="country-info-block">
         <img src="/assets/image/france.png" alt="">
         <div class="country-info-subblock">
            <span class="country-info-block-title">
            france
            </span>
            <span class="country-info-block-price">
            1500$
            </span>
            <span class="country-info-block-text">
            Lorem ipsum dolor sit amet
            </span>
         </div>
      </div>
      <div class="country-info-block">
         <img src="/assets/image/england.png" alt="">
         <div class="country-info-subblock">
            <span class="country-info-block-title">
            england
            </span>
            <span class="country-info-block-price">
            1500$
            </span>
            <span class="country-info-block-text">
            Lorem ipsum dolor sit amet
            </span>
         </div>
      </div>
      <div class="country-info-block">
         <img src="/assets/image/turkey.png" alt="">
         <div class="country-info-subblock">
            <span class="country-info-block-title">
            turkey
            </span>
            <span class="country-info-block-price">
            1500$
            </span>
            <span class="country-info-block-text">
            Lorem ipsum dolor sit amet
            </span>
         </div>
      </div>
      <div class="country-info-block">
         <img src="/assets/image/usa.png" alt="">
         <div class="country-info-subblock">
            <span class="country-info-block-title">
            united states
            </span>
            <span class="country-info-block-price">
            1500$
            </span>
            <span class="country-info-block-text">
            Lorem ipsum dolor sit amet
            </span>
         </div>
      </div>
   </div>
     <button class="btn-view"> view all tours </button>
</div>
